@{
    ViewData["Title"] = "Dashboard";
    var dashUsername = ViewContext.HttpContext.Session.GetString("Username") ?? "Trader";
}

@section Head {
    <link rel="stylesheet" href="~/dashboard/dashboard.css" asp-append-version="true" />
}

<div class="py-2">
    <div id="dashboard-root" data-username="@dashUsername"></div>
</div>

@section Scripts {
    <script type="module" src="~/dashboard/dashboard.js" asp-append-version="true"></script>
}
