@{
    ViewData["Title"] = "Dashboard";
    var dashUsername = ViewContext.HttpContext.Session.GetString("Username") ?? "Trader";
    var dashAvatarUrl = ViewContext.HttpContext.Session.GetString("AvatarUrl");
    var dashInitials = dashUsername.Length > 0 ? dashUsername.Substring(0, 1).ToUpper() : "?";
}

@section Head {
    <link rel="stylesheet" href="~/dashboard/dashboard.css" asp-append-version="true" />
}

<div class="py-2">
    <div id="dashboard-root"
         data-username="@dashUsername"
         data-avatar-url="@(dashAvatarUrl ?? "")"
         data-avatar-initials="@dashInitials"></div>
</div>

@section Scripts {
    <script type="module" src="~/dashboard/dashboard.js" asp-append-version="true"></script>
}
